<div id="<%= dom_id product %>">

  <div class="flex justify-center my-5">
    <div class="bg-slate-100  rounded-2xl border-2 shadow-x3 p-10 max-w-5xl">
      <div class="flex flex-col items-center space-y-4">
        <h3>Name: <%= product.name %></h3>
        <h3>Category: <%= Category.find(product.category_id).name %></h3>
        <h3>Prise: <%= product.price %></h3>

        <div class="text-center">
          <%= link_to "Edit this product", edit_product_path(@product) %> |
          <%= link_to "Back to products", products_path %>
          <%= button_to "Destroy this product", @product, method: :delete,  data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  </div>
</div>
